<div class="side_bar">
  <div class="top_side_bar">
      <%= link_to 'user', '#', class: "user-name"%>
      <%= link_to 'チャットを作成する', '#', class: "newroom-btn"%>
  </div>
  <div class="rooms">
    <div class="room">
      <%= link_to 'room', '#', class: "room-link"%>
    </div>
    <div class="room">
      <%= link_to 'room', '#', class: "room-link"%>
    </div>
  </div>
</div>